@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --light-theme-yellow: #ffc938;
  --light-theme-light-blue: #c2e1fe;
  --light-theme-dark-blue: #8dbbed;
  --light-theme-very-dark-blue: #376295;

  --dark-theme-yellow: #ffc938;
  --dark-theme-white: #ffffff;
  --dark-theme-dark-blue: #729edf;
  --dark-theme-very-dark-blue: #0c103f;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.weather {
  background: #376295;
  width: 100%;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.weather-wrapper {
  color: var(--dark-theme-white);
  width: 100%;
  height: 100vh;

  background-image: url("https://images.pexels.com/photos/416920/pexels-photo-416920.jpeg?cs=srgb&dl=pexels-pixabay-416920.jpg&fm=jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.search-wrapper {
  color: black;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 10px 10px;
  width: 300px;
}
.search-wrapper input {
  border-radius: 20px;
  border: none;
}
.search-wrapper input:focus {
  border: none;
  outline: none;
}

.info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
}
.top {
  height: 250px;
}
.temperature {
  font-size: 80px;
}
.weather-icon {
  width: 100px;
  color: wheat;
}
.icon {
  width: 100%;
}
.loading-spinner {
  height: 20px;
  padding: 5px;
}
